body {
  font-size: large;
  background-color: rgb(138, 177, 138);
}

#options {
  margin: 50px 0 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: larger;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(151, 15, 15);
  margin: 70px 0 50px;
}

#button-change, #button-convert {
  font-size: large;
  color: white;
  background-color: rgb(2, 83, 2);
  border-radius: 7px;
}

#firstEntry , #secondEntry {
  text-align: center;
  font-size: large;
  width: 100px;
  border-radius: 7px;
  border: 1px solid black;
}

#area1 , #area2 {
  text-align: center;
  font-size: large;
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 7px;
  vertical-align: middle;
}

#area1 , #firstEntry {
  background-color: white;
  display: inline-block;
}

#area2 {
  vertical-align: middle;
  line-height: 42px;
  padding: 0px;
  position: relative;
  bottom: 18px
}

#area2 , #secondEntry {
  background-color:rgb(238, 201, 201);
}


#block-area1 , #block-area2 , #block-convert-button {
  float: left;
  margin: 0 30px;
}

#block-result {
  width: 580px;
  margin: 0 auto;
}